@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.description {
  position: relative;
  align-self: center;
  opacity: 0;
  transition: 0.2s ease;
  padding-bottom: 50px;
  &.active {
    opacity: 100%;
  }
}

.description-text {
  align-self: center;
  background-color: white;
  border: 2px solid aquamarine;
  display: flex;
  border-radius: 64px;
  margin: 10px;
  padding: 20px 50px 20px 50px;
}

.disabled {
  opacity: .5;
}

.animals {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-gap: 20px;
  flex-direction: row;
  gap: 50px;
  align-self: center;
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
}

.animal {
  width: 30px;
  height: auto;
  cursor: pointer;
  filter: grayscale(0);
  transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.animal .dead {
  width: 0;
  filter: grayscale(1);
  transition: all 0.6s ease;
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.dashboard {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(180deg, #E0F7FA 0%, #80DEEA 100%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  gap: 10px;
}

.menu {
  width: 100%;
  height: 48px;
  position: relative;
  flex-direction: row;
  padding-left: 50px;
  margin-top: 50px;
  z-index: 100;
}

.menu-button {
  width: 48px;
  height: 100%;
  background: #3E2723;
  border-radius: 50%;
  position: absolute;

  transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  z-index: 1;
  cursor: pointer;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background: rgba(62, 39, 35, .5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  }
}

.menu-group {
  background: #D7CCC8;
  border-radius: 0 8px 8px 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 0;
  height: 48px;
  opacity: 0;
  gap: 0;
  justify-content: flex-end;
  padding-right: 12px;
  left: 20px;
  transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.menu-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  transition-delay: 0s;
  border: 2px solid #3E2723;
  cursor: pointer;
  position: relative;
}

.menu.active {
  .menu-group {
    width: 236px;
    gap: 6px;
    opacity: 100%;
  }

  .menu-button {
    transform: rotate(90deg);
  }
}

.popup {
  width: 100%;
  height: 100%;

  padding: 0 10px 0 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .popup-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 100%;
    min-width: 50%;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);

    h2 {
      padding: 15px;
    }

    input {
      padding: 15px;
      margin: 10px 15px 10px 15px;
      border-radius: 50px;
    }

    button {
      padding: 15px;
      margin: 10px 15px 10px 15px;
      border-radius: 50px;
      border-color: #80DEEA;
    }
  }
}

@media (max-width: 600px) {
  .animals {
    flex-direction: column;
  }
}